# IDE/editor configs
compile_commands.json
.vscode/
.cache/
*.swp
*.swo
.vs

# Compiled object files
*.o
*.obj

# Binaries
gridflux
a.out

# Build system (CMake)
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake

# Logs and misc
nohup.out

# Make
Makefile

# macOS
.DS_Store

# Windows
Thumbs.db

config.json
gridflux
gridflux-cli
gridflux-gui
gridflux.desktop

