<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Id="*" Name="GridFlux Window Manager" Manufacturer="Ardi Nugraha"
           Version="0.1.0" Language="1033"
           UpgradeCode="f47ac10b-58cc-4372-a567-0e02b2c3d479">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of GridFlux is already installed." />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch GridFlux Window Manager" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <Property Id="WixShellExecTarget" Value="[INSTALLDIR]gridflux-launcher.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <!-- Kill running processes before uninstall removes files -->
    <util:CloseApplication Id="CloseGridFlux"
                           Target="gridflux.exe"
                           CloseMessage="yes"
                           RebootPrompt="no"
                           TerminateProcess="5" />
    <util:CloseApplication Id="CloseGridFluxLauncher"
                           Target="gridflux-launcher.exe"
                           CloseMessage="yes"
                           RebootPrompt="no"
                           TerminateProcess="5" />

    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <Icon Id="GridFluxIcon.ico" SourceFile="icons\gridflux.ico" />
    <Property Id="ARPPRODUCTICON" Value="GridFluxIcon.ico" />

    <Feature Id="MainFeature" Title="GridFlux" Level="1">
      <ComponentGroupRef Id="GridFluxCore" />
      <ComponentGroupRef Id="Shortcuts" />
      <ComponentGroupRef Id="Autostart" />
      <ComponentGroupRef Id="GtkRuntime" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="GridFlux">
          <Directory Id="IconsDir" Name="icons" />
          <Directory Id="BinDir" Name="bin" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="GridFluxMenu" Name="GridFlux" />
      </Directory>

      <Directory Id="DesktopFolder" />
      
      <Directory Id="CommonAppDataFolder">
        <Directory Id="GridFluxConfig" Name="GridFlux" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="GridFluxExe" Guid="{12222222-2222-2222-2222-222222222222}" Win64="yes" KeyPath="yes">
        <File Source="build\gridflux.exe" />
      </Component>

      <Component Id="GridFluxGui" Guid="{22222222-2222-2222-2222-222222222222}" Win64="yes">
        <File Source="build\gridflux-gui.exe" />
      </Component>

      <Component Id="GridFluxCli" Guid="{33333333-3333-3333-3333-333333333333}" Win64="yes">
        <File Source="build\gridflux-cli.exe" />
      </Component>

      <Component Id="LauncherExe" Guid="{44444444-4444-4444-4444-444444444444}" Win64="yes">
        <File Source="build\gridflux-launcher.exe" />
      </Component>

      <Component Id="Registry" Guid="{88888888-8888-8888-8888-888888888888}" Win64="yes">
        <RegistryValue Root="HKLM" Key="Software\GridFlux" Name="Install_Dir" Value="[INSTALLDIR]" Type="string" KeyPath="yes"/>
        <RegistryValue Root="HKLM" Key="Software\GridFlux" Name="Version" Value="0.1.0" Type="string" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IconsDir">
      <Component Id="Icons" Guid="{55555555-5555-5555-5555-555555555555}" Win64="yes">
        <File Source="icons\gridflux-16.png" />
        <File Source="icons\gridflux-32.png" />
        <File Source="icons\gridflux-48.png" />
        <File Source="icons\gridflux.ico" />
        <File Source="icons\gf_logo.png" />
      </Component>
    </DirectoryRef>    

    <DirectoryRef Id="GridFluxConfig">
      <Component Id="DefaultConfig" Guid="{77777777-7777-7777-7777-777777777777}" Win64="yes">
        <File Source="config.default.json" Name="config.json" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="GridFluxCore">
      <ComponentRef Id="GridFluxExe"/>
      <ComponentRef Id="GridFluxGui"/>
      <ComponentRef Id="GridFluxCli"/>
      <ComponentRef Id="LauncherExe"/>
      <ComponentRef Id="Icons"/>
      <ComponentRef Id="DefaultConfig"/>
      <ComponentRef Id="Registry"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="RunOnLogin" Guid="{99999999-9999-9999-9999-999999999999}" Win64="yes">
        <RegistryValue Root="HKCU"
                       Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="GridFlux"
                       Value="&quot;[INSTALLDIR]gridflux-launcher.exe&quot;"
                       Type="string"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Autostart">
      <ComponentRef Id="RunOnLogin"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="{AAAAAAAA-AAAA-AAAA-AAAA-AAAAAAAAAAAA}" Win64="yes">
        <Shortcut Id="DesktopShortcutId" 
                  Directory="DesktopFolder" 
                  Name="GridFlux Control Panel" 
                  Target="[INSTALLDIR]gridflux-gui.exe" 
                  WorkingDirectory="INSTALLDIR"
                  Icon="GridFluxIcon.ico" />
        <RegistryValue Root="HKCU" Key="Software\GridFlux" Name="Desktop" Value="1" Type="integer" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="GridFluxMenu">
      <Component Id="StartMenuShortcut" Guid="{BBBBBBBB-BBBB-BBBB-BBBB-BBBBBBBBBBBB}" Win64="yes">
        <Shortcut Id="StartMenuGuiShortcut" 
                  Name="GridFlux Control Panel" 
                  Target="[INSTALLDIR]gridflux-gui.exe" 
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="StartMenuCliShortcut" 
                  Name="GridFlux CLI" 
                  Target="[INSTALLDIR]gridflux-cli.exe" 
                  WorkingDirectory="INSTALLDIR"/>
        <Shortcut Id="StartMenuUninstallShortcut" 
                  Name="Uninstall GridFlux" 
                  Target="[System64Folder]msiexec.exe" 
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="MenuCleanup" Directory="GridFluxMenu" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\GridFlux" Name="StartMenu" Value="1" Type="integer" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Shortcuts">
      <ComponentRef Id="DesktopShortcut"/>
      <ComponentRef Id="StartMenuShortcut"/>
    </ComponentGroup>
  </Fragment>
</Wix>